.about {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.5em;
  }
  
  .about body {
    margin: 0 auto;
    max-width: 95%;
  }
  
  .about header,
  main,
  footer {
    align-items: center;
  }

  .about h1 {
    text-align: center;
    color: rgb(255, 255, 255);
  }

  #about {
    width: 100px;
    background-color: rgb(0, 119, 255);
    height: 30px;
    color: white;
    margin-top: 10px;
}

#about:hover {
    background-color: rgb(50, 50, 51);
    color:  rgb(0, 119, 255);
}